<a href="https://colab.research.google.com/github/cagedlion/cagedlion/blob/main/XRP_(Ripple)_Prediction_next_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#This file attempts to predict the future price of Ripple

In [4]:
# The first thing we want to do is import the necessary library and set the filepath to our data file
from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
filepath = "https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_d.csv"
import ssl  # we need to import this library and tweak one setting due to fact we use HTTPS certificate(s)
ssl._create_default_https_context = ssl._create_unverified_context
# Now we want to create a dataframe and use Pandas' to_csv function to read in our file
df = pd.read_csv(filepath, skiprows=1)  # we use skiprows parameter because first row contains our web address
# Now that we have loaded our data into the dataframe, we can preview it using the print & .head() function
df  # look at the dataframe

               unix                 date  ...   Volume USDT  tradecount
0     1619049600000  2021-04-22 00:00:00  ...  9.843072e+06       10538
1     1618963200000  2021-04-21 00:00:00  ...  1.787718e+09     1605075
2     1618876800000  2021-04-20 00:00:00  ...  1.998261e+09     1757479
3     1618790400000  2021-04-19 00:00:00  ...  2.226346e+09     1996347
4     1618704000000  2021-04-18 00:00:00  ...  2.726555e+09     2556310
...             ...                  ...  ...           ...         ...
1080  1525737600000  2018-05-08 00:00:00  ...  1.057184e+07       23010
1081  1525651200000  2018-05-07 00:00:00  ...  1.419228e+07       29174
1082  1525564800000  2018-05-06 00:00:00  ...  1.399714e+07       28713
1083  1525478400000  2018-05-05 00:00:00  ...  1.528200e+07       26476
1084  1525392000000  2018-05-04 00:00:00  ...  1.894672e+07       37492

[1085 rows x 10 columns]

In [5]:
sorted_df = df. sort_values(by=["date"], ascending=True)
sorted_df

               unix                 date  ...   Volume USDT  tradecount
1084  1525392000000  2018-05-04 00:00:00  ...  1.894672e+07       37492
1083  1525478400000  2018-05-05 00:00:00  ...  1.528200e+07       26476
1082  1525564800000  2018-05-06 00:00:00  ...  1.399714e+07       28713
1081  1525651200000  2018-05-07 00:00:00  ...  1.419228e+07       29174
1080  1525737600000  2018-05-08 00:00:00  ...  1.057184e+07       23010
...             ...                  ...  ...           ...         ...
4     1618704000000  2021-04-18 00:00:00  ...  2.726555e+09     2556310
3     1618790400000  2021-04-19 00:00:00  ...  2.226346e+09     1996347
2     1618876800000  2021-04-20 00:00:00  ...  1.998261e+09     1757479
1     1618963200000  2021-04-21 00:00:00  ...  1.787718e+09     1605075
0     1619049600000  2021-04-22 00:00:00  ...  9.843072e+06       10538

[1085 rows x 10 columns]

In [6]:
# set the index to be the date
df=sorted_df.set_index(pd.DatetimeIndex(sorted_df['date'].values))
#show the data
df

                     unix                 date  ...   Volume USDT  tradecount
2018-05-04  1525392000000  2018-05-04 00:00:00  ...  1.894672e+07       37492
2018-05-05  1525478400000  2018-05-05 00:00:00  ...  1.528200e+07       26476
2018-05-06  1525564800000  2018-05-06 00:00:00  ...  1.399714e+07       28713
2018-05-07  1525651200000  2018-05-07 00:00:00  ...  1.419228e+07       29174
2018-05-08  1525737600000  2018-05-08 00:00:00  ...  1.057184e+07       23010
...                   ...                  ...  ...           ...         ...
2021-04-18  1618704000000  2021-04-18 00:00:00  ...  2.726555e+09     2556310
2021-04-19  1618790400000  2021-04-19 00:00:00  ...  2.226346e+09     1996347
2021-04-20  1618876800000  2021-04-20 00:00:00  ...  1.998261e+09     1757479
2021-04-21  1618963200000  2021-04-21 00:00:00  ...  1.787718e+09     1605075
2021-04-22  1619049600000  2021-04-22 00:00:00  ...  9.843072e+06       10538

[1085 rows x 10 columns]

In [7]:
#now get only the close price
df=df[['close']]
df

              close
2018-05-04  0.88990
2018-05-05  0.90280
2018-05-06  0.86483
2018-05-07  0.82490
2018-05-08  0.80667
...             ...
2021-04-18  1.40797
2021-04-19  1.30945
2021-04-20  1.38501
2021-04-21  1.29097
2021-04-22  1.28213

[1085 rows x 1 columns]

In [8]:
# create a variable to store the number of days for which we want to predict the prices
prediction_days=1
# create a new variable called prediction
df['prediction']=df[['close']].shift(-prediction_days)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

              close  prediction
2018-05-04  0.88990     0.90280
2018-05-05  0.90280     0.86483
2018-05-06  0.86483     0.82490
2018-05-07  0.82490     0.80667
2018-05-08  0.80667     0.79481
...             ...         ...
2021-04-18  1.40797     1.30945
2021-04-19  1.30945     1.38501
2021-04-20  1.38501     1.29097
2021-04-21  1.29097     1.28213
2021-04-22  1.28213         NaN

[1085 rows x 2 columns]

In [9]:
# Drop the prediction variable from the dataframe
X = np.array(df.drop('prediction', axis=1))
# Remove the last n+1 rows of data where, n is the prediction_days
X=X[:len(df)-prediction_days-1]
X

array([[0.8899 ],
       [0.9028 ],
       [0.86483],
       ...,
       [1.40797],
       [1.30945],
       [1.38501]])

In [10]:
# Create a dependent variable dataset (y)
y = np.array(df['prediction'])
#Get all the y values except the last n+1 rows
y=y[:-prediction_days-1]
y

array([0.9028 , 0.86483, 0.8249 , ..., 1.30945, 1.38501, 1.29097])

In [11]:
#Split the data into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=1)

In [12]:
# Use the random forest regressor model
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=2, random_state=1)
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.9898308107941385

In [13]:
model.score(X_test, y_test)

0.942014309989254

In [14]:
#Show how close the predicted values and actual values are
prediction=model.predict(X_test)
#print the predicted values
print(prediction)
print()
#print the actual values
print(y_test)

[0.1966325  0.522805   0.1961175  0.251385   0.18613    1.55278
 0.30774    0.24409    0.41935    0.291415   0.280545   0.307365
 0.524735   0.392685   0.465405   0.22625    0.23867    0.24109333
 0.24208    0.29757    0.218725   0.54834    0.55523    0.39721
 0.218725   0.47978    0.377485   0.21914    0.18722    0.41513
 0.304215   0.26353    0.51736    0.444365   0.21118    0.230515
 0.464525   0.48618    0.2621475  0.46605    0.54855    0.28082
 0.30192    0.29939    0.33323    0.46796    0.33116    0.25471
 0.520225   0.21735    0.3188     0.20385    0.62972    0.41935
 0.4357     0.591955   0.21806    0.242755   0.29974    0.175815
 0.51692    0.30068125 0.27497    0.384225   0.32762    0.32109
 0.2620825  0.521535   0.192335   0.22648    0.19292    0.253125
 0.40296    0.31606333 0.679305   0.465405   0.464525   0.675475
 0.29058167 0.232175   0.35288    0.39876    0.13549    0.22313
 0.2296175  0.18341    0.26834    0.52277    0.25314333 1.195005
 0.241565   0.30186    0.234745   0.26589    0.242755   0.460965
 0.276495   0.22648    0.21776    0.26834    0.277475   0.31897
 0.444375   0.49813    0.56357    0.56357    0.2538     0.1476
 0.20945    0.24208    0.34851    0.70797    0.24596    0.524735
 0.591955   0.291245   0.48868    0.56357    0.32032    0.32109
 0.371515   0.35044667 0.39627    0.32032    0.21806    0.308155
 0.21583    0.30068125 0.261995   0.276495   0.23634    0.36251
 0.151415   0.18889    0.52613    0.2925     0.35264    0.22648
 0.336565   0.313215   0.31905    0.19465    0.44285    0.25576167
 0.45457    0.29946    0.52613    0.48618    0.41513    0.455175
 0.32668    0.23968    0.21939333 0.31344    0.269055   0.1961175
 0.25544    0.679305   0.54976    0.26834    0.31795333 0.263454
 0.28881    0.31257    0.1966325  0.3126575  0.2538     0.31905
 0.19300833 0.26124    0.158426   0.35128    0.30448    0.30448
 0.48618    0.241565   0.31452    0.23905    0.410305   0.17685333
 0.2422     0.478      0.628325   0.26083    0.26407    0.26834
 0.36022    0.2538     0.5022     0.417435   0.45234    0.30948
 0.32242    0.33024    0.4846     0.28975    0.18602    0.247485
 0.33323    0.28881    0.23986    0.770195   0.42071    0.27924
 0.31257    0.53204    0.45727    0.31795333 0.223065   0.33024
 0.19721    0.30752    0.207965   0.9028     0.24456    0.21939333
 0.42694   ]

[0.19315 0.62579 0.20361 0.25273 0.1885  1.53896 0.30784 0.2774  0.44033
 0.29046 0.27547 0.31041 0.54752 0.36354 0.44859 0.20301 0.2255  0.25398
 0.24564 0.30366 0.21862 0.53457 0.52806 0.33368 0.20813 0.47765 0.382
 0.22256 0.1932  0.41447 0.29469 0.29547 0.48964 0.4598  0.20329 0.2385
 0.49097 0.45367 0.26242 0.49005 0.53258 0.28257 0.29527 0.30311 0.34699
 0.42831 0.33533 0.25539 0.44642 0.19702 0.3267  0.20179 0.62151 0.44396
 0.45885 0.58257 0.24854 0.25863 0.2706  0.17494 0.58337 0.29456 0.28592
 0.37183 0.32036 0.32721 0.29089 0.5409  0.18939 0.21121 0.20263 0.24107
 0.37863 0.31016 0.6721  0.46141 0.48931 0.6574  0.30228 0.22909 0.34253
 0.39362 0.20245 0.23029 0.23453 0.18249 0.26069 0.2605  0.24674 0.91542
 0.24252 0.33339 0.23314 0.2725  0.24322 0.463   0.29218 0.22118 0.21951
 0.27774 0.27735 0.33206 0.45315 0.473   0.51019 0.5245  0.25313 0.15308
 0.20127 0.23657 0.32705 0.6761  0.25374 0.5621  0.57087 0.30247 0.51365
 0.54468 0.33436 0.27679 0.40074 0.34468 0.37881 0.409   0.22222 0.3006
 0.23131 0.3672  0.28031 0.28331 0.20385 0.36882 0.17593 0.18763 0.46012
 0.29187 0.32875 0.2075  0.39203 0.31539 0.3215  0.20131 0.49335 0.23738
 0.51058 0.30316 0.38315 0.41849 0.43589 0.48437 0.3613  0.24302 0.22998
 0.2848  0.27468 0.19909 0.2552  0.63782 0.62814 0.23282 0.31311 0.27051
 0.28407 0.30219 0.19238 0.31593 0.25112 0.34336 0.19418 0.25406 0.1646
 0.30919 0.31762 0.30965 0.41789 0.25088 0.30251 0.24752 0.40372 0.17828
 0.24011 0.4844  0.67766 0.25843 0.24545 0.26954 0.36073 0.25698 0.46893
 0.39878 0.42985 0.31596 0.29963 0.30646 0.53467 0.30514 0.1926  0.25385
 0.32999 0.29881 0.22064 0.80667 0.3852  0.27894 0.32035 0.5623  0.47698
 0.31067 0.23565 0.29543 0.2011  0.30114 0.19444 0.8249  0.24024 0.21335
 0.48173]

In [15]:
#Get the validation data for the model
#create a variable to store all the rows of the data except last n rows
temp_df=df[:-prediction_days]
#create a variable to store the independent price values
X_val=temp_df.tail(1)['close'][0]
#show the data
print(X_val)

1.29097

In [16]:
prediction=model.predict([[X_val]])
#print the price of coin for the next n days
print('The price of coin in', prediction_days, 'day(s) is predicted to be', prediction)
#print the actual value of the coin for the next n days
print('The actual price of coin was', temp_df.tail(1)['prediction'][0])

The price of coin in 1 day(s) is predicted to be [1.38501]
The actual price of coin was 1.28213